# Environment Variables
.env
.env.local

# Google API Credentials (Old JSON file)
google_credentials.json
firebase_credentials.json

# Python
__pycache__/
*.py[cod]
*$py.class
env/
venv/

# Django
db.sqlite3
media/
staticfiles/

# Node
node_modules/

# Temp Files
downloaded_captcha/
static/images/captcha/
test_traffic_light_*.jpg
